<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Topic Voter Application</title>
</head>
<body>
    <h1>Welcome to topic Voter!</h1>

    <form action="/createTopic" method="post">
        <input type="text" name="title" required="required"/>
        <input type="text" name="description" />
        <input type="submit" value="Add" />
    </form>

    <ul>
        <li th:each="topic : ${topics}">
            <span th:text="${topic.title}"></span>
            :
            <span th:text="${topic.description}"></span>

            <form action="/deleteTopic" method="post">
                <input type="hidden" th:value="${topic.id}" name="id"/>
                <input type="submit" value="X" />
            </form>
        </li>
    </ul>
</body>
</html>